:root {

    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --bg-image: linear-gradient(to bottom right, rgb(46, 46, 73), rgb(12, 12, 20));
    --heading-color: #6581ce;
    --logo-color:  #17EF55;

}

body {

    /* background-color: var(--bg-color); */
    background-image: var(--bg-image);
    color: var(--font-color);
    background-repeat: no-repeat;
    background-attachment: fixed;

}

h1 {

    text-align: center;
    font-size: 70px;
    color: var(--logo-color);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
/* Add a black background color to the top navigation */
.topnav {

background-color: var(--secondary-color);
overflow: hidden;

}

/* Style the links inside the navigation bar */
.topnav a {

    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

/* Change the color of links on hover */
.topnav a:hover {

    background-color: #ddd;
    color: black;

}

/* Add a color to the active/current link */
.topnav a.active {

    background-color: var(--heading-color);
    color: white;

}

input.sign_up_button {

    text-align: center;
    background-color: var(--heading-color);
    border: none;
    color: white;
    padding: 30px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

input.log_in_button {

    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: var(--font-color);
    padding: 30px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

input.welcome_buttons {

    display: block;
    float: left;
    margin: auto;
    width: 10vw;

}

div.welcome {

    /* background-color: beige; */
    /* width: 100%; */
    /* padding: 10%; */
    /* position: absolute; */

    display: flex;
    align-items: center;
    justify-content: center;

}